In [1]:
import pandas as pd
from pprint import pprint

In [2]:
# Read animal names and convert it to Pandas DataFrame
name_df = pd.read_csv('../../data/animal_names.csv', encoding='UTF-8')

# Preview "animal_df"
name_df.head()

            Common_Name Other_Name            Sci_Name
0      African Elephant        NaN  Loxodonta africana
1      African Wild Dog        NaN       Lycaon pictus
2         Albacore Tuna        NaN    Thunnus alalunga
3  Amazon River Dolphin        NaN    Inia geoffrensis
4          Amur Leopard        NaN     Panthera pardus

In [3]:
# Save all animal names in a list called "name_list"
name_list = list(name_df.Common_Name)

# Check the length of "name_list"
len(name_list)

69

In [4]:
# Seven animal names will be displayed per row in index.html
# Add one more value ("TBD": to be deleted) to make the length of "name_list" able to be divided by 7
name_list.append('TBD')

In [5]:
# Dict to rearrange and temporarily store animal names
name_dict = {}

# Append names into "name_dict"
for i in range(len(name_list)):
    key = int(i/10)    
    try:
        name_dict[key].append(name_list[i])        
    except KeyError:
        name_dict[key] = []
        name_dict[key].append(name_list[i])

# Display "name_dict"
name_dict

{0: ['African Elephant',
  'African Wild Dog',
  'Albacore Tuna',
  'Amazon River Dolphin',
  'Amur Leopard',
  'Arctic Fox',
  'Arctic Wolf',
  'Asian Elephant',
  'Beluga',
  'Bigeye Tuna'],
 1: ['Black Rhino',
  'Black Spider Monkey',
  'Black-footed Ferret',
  'Blue Whale',
  'Bluefin Tuna',
  'Bonobo',
  'Bornean Orangutan',
  'Bowhead Whale',
  'Brown Bear',
  'Chimpanzee'],
 2: ['Common Bottlenose Dolphin',
  'Dugong',
  'Eastern Lowland Gorilla',
  'Fin Whale',
  'Galapagos Penguin',
  'Ganges River Dolphin',
  'Giant Panda',
  'Gray Whale',
  'Great White Shark',
  'Greater One-Horned Rhino'],
 3: ['Greater Sage-Grouse',
  'Green Turtle',
  'Hawksbill Turtle',
  "Hector's Dolphin",
  'Hippopotamus',
  'Humphead Wrasse',
  'Irrawaddy Dolphin',
  'Jaguar',
  'Javan Rhino',
  'Leatherback Turtle'],
 4: ['Loggerhead Turtle',
  'Macaw',
  'Marine Iguana',
  'Mountain Plover',
  'Narwhal',
  'North Atlantic Right Whale',
  'Olive Ridley Turtle',
  'Plains Bison',
  'Poison Dart Frog',
  'Polar Bear'],
 5: ['Pronghorn',
  'Red Panda',
  'Saola',
  'Sea Lions',
  'Sei Whale',
  'Skipjack Tuna',
  'Snow Leopard',
  'Southern rockhopper penguin',
  'Sumatran Orangutan',
  'Sumatran Rhino'],
 6: ['Swift Fox',
  'Tiger',
  'Tree Kangaroo',
  'Vaquita',
  'Western Lowland Gorilla',
  'Whale Shark',
  'White Rhino',
  'Yangtze Finless Porpoise',
  'Yellowfin Tuna',
  'TBD']}

In [6]:
# Convert "name_dict" into Pandas DataFrame
rowed_name_df = pd.DataFrame(name_dict)

# View "rowed_name_df"
rowed_name_df

,0,1,2,3,4,5,6
0,African Elephant,Black Rhino,Common Bottlenose Dolphin,Greater Sage-Grouse,Loggerhead Turtle,Pronghorn,Swift Fox
1,African Wild Dog,Black Spider Monkey,Dugong,Green Turtle,Macaw,Red Panda,Tiger
2,Albacore Tuna,Black-footed Ferret,Eastern Lowland Gorilla,Hawksbill Turtle,Marine Iguana,Saola,Tree Kangaroo
3,Amazon River Dolphin,Blue Whale,Fin Whale,Hector's Dolphin,Mountain Plover,Sea Lions,Vaquita
4,Amur Leopard,Bluefin Tuna,Galapagos Penguin,Hippopotamus,Narwhal,Sei Whale,Western Lowland Gorilla
5,Arctic Fox,Bonobo,Ganges River Dolphin,Humphead Wrasse,North Atlantic Right Whale,Skipjack Tuna,Whale Shark
6,Arctic Wolf,Bornean Orangutan,Giant Panda,Irrawaddy Dolphin,Olive Ridley Turtle,Snow Leopard,White Rhino
7,Asian Elephant,Bowhead Whale,Gray Whale,Jaguar,Plains Bison,Southern rockhopper penguin,Yangtze Finless Porpoise
8,Beluga,Brown Bear,Great White Shark,Javan Rhino,Poison Dart Frog,Sumatran Orangutan,Yellowfin Tuna
9,Bigeye Tuna,Chimpanzee,Greater One-Horned Rhino,Leatherback Turtle,Polar Bear,Sumatran Rhino,TBD

In [7]:
# Generate html string for "rowed_name_df" that will be pasted into index.html
html = rowed_name_df.to_html(header=False, index=False, classes='animal-name')

# Pretty print "html" (to be pasted in index.html)
pprint(html)

('<table border="1" class="dataframe animal-name">\n'
 '  <tbody>\n'
 '    <tr>\n'
 '      <td>African Elephant</td>\n'
 '      <td>Black Rhino</td>\n'
 '      <td>Common Bottlenose Dolphin</td>\n'
 '      <td>Greater Sage-Grouse</td>\n'
 '      <td>Loggerhead Turtle</td>\n'
 '      <td>Pronghorn</td>\n'
 '      <td>Swift Fox</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>African Wild Dog</td>\n'
 '      <td>Black Spider Monkey</td>\n'
 '      <td>Dugong</td>\n'
 '      <td>Green Turtle</td>\n'
 '      <td>Macaw</td>\n'
 '      <td>Red Panda</td>\n'
 '      <td>Tiger</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>Albacore Tuna</td>\n'
 '      <td>Black-footed Ferret</td>\n'
 '      <td>Eastern Lowland Gorilla</td>\n'
 '      <td>Hawksbill Turtle</td>\n'
 '      <td>Marine Iguana</td>\n'
 '      <td>Saola</td>\n'
 '      <td>Tree Kangaroo</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>Amazon River Dolphin</td>\n'
 '      <td>Blue Whale</td>\n'
 '      <td>Fin Whale</td>\n'
 "      <td>Hector's Dolphin</td>\n"
 '      <td>Mountain Plover</td>\n'
 '      <td>Sea Lions</td>\n'
 '      <td>Vaquita</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>Amur Leopard</td>\n'
 '      <td>Bluefin Tuna</td>\n'
 '      <td>Galapagos Penguin</td>\n'
 '      <td>Hippopotamus</td>\n'
 '      <td>Narwhal</td>\n'
 '      <td>Sei Whale</td>\n'
 '      <td>Western Lowland Gorilla</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>Arctic Fox</td>\n'
 '      <td>Bonobo</td>\n'
 '      <td>Ganges River Dolphin</td>\n'
 '      <td>Humphead Wrasse</td>\n'
 '      <td>North Atlantic Right Whale</td>\n'
 '      <td>Skipjack Tuna</td>\n'
 '      <td>Whale Shark</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>Arctic Wolf</td>\n'
 '      <td>Bornean Orangutan</td>\n'
 '      <td>Giant Panda</td>\n'
 '      <td>Irrawaddy Dolphin</td>\n'
 '      <td>Olive Ridley Turtle</td>\n'
 '      <td>Snow Leopard</td>\n'
 '      <td>White Rhino</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>Asian Elephant</td>\n'
 '      <td>Bowhead Whale</td>\n'
 '      <td>Gray Whale</td>\n'
 '      <td>Jaguar</td>\n'
 '      <td>Plains Bison</td>\n'
 '      <td>Southern rockhopper penguin</td>\n'
 '      <td>Yangtze Finless Porpoise</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>Beluga</td>\n'
 '      <td>Brown Bear</td>\n'
 '      <td>Great White Shark</td>\n'
 '      <td>Javan Rhino</td>\n'
 '      <td>Poison Dart Frog</td>\n'
 '      <td>Sumatran Orangutan</td>\n'
 '      <td>Yellowfin Tuna</td>\n'
 '    </tr>\n'
 '    <tr>\n'
 '      <td>Bigeye Tuna</td>\n'
 '      <td>Chimpanzee</td>\n'
 '      <td>Greater One-Horned Rhino</td>\n'
 '      <td>Leatherback Turtle</td>\n'
 '      <td>Polar Bear</td>\n'
 '      <td>Sumatran Rhino</td>\n'
 '      <td>TBD</td>\n'
 '    </tr>\n'
 '  </tbody>\n'
 '</table>')